<h1>Listing zoigl_beers</h1>

<table>
  <thead>
    <tr>
      <th>Beername</th>
      <th>Rbid</th>
      <th>Rbbrewer</th>
      <th>Alcohol</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zoigl_beers.each do |zoigl_beer| %>
      <tr>
        <td><%= zoigl_beer.beername %></td>
        <td><%= zoigl_beer.rbid %></td>
        <td><%= zoigl_beer.rbbrewer %></td>
        <td><%= zoigl_beer.alcohol %></td>
        <td><%= zoigl_beer.description %></td>
        <td><%= link_to 'Show', zoigl_beer %></td>
        <td><%= link_to 'Edit', edit_zoigl_beer_path(zoigl_beer) %></td>
        <td><%= link_to 'Destroy', zoigl_beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zoigl beer', new_zoigl_beer_path %>
