<%= form_for @zoigl_stube, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :stube_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :stube_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :address, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :city, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rbid, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :rbid, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :founded, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :founded, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :score, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :score, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lat, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :lat, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lon, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :lon, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :web, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :web, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hours, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :hours, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :phone, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  zoigl_stubes_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
