<p id="notice"><%= notice %></p>

<p>
  <strong>Stube name:</strong>
  <%= @zoigl_stube.stube_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @zoigl_stube.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @zoigl_stube.city %>
</p>

<p>
  <strong>Rbid:</strong>
  <%= @zoigl_stube.rbid %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @zoigl_stube.founded %>
</p>

<p>
  <strong>Score:</strong>
  <%= @zoigl_stube.score %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @zoigl_stube.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @zoigl_stube.lon %>
</p>

<p>
  <strong>Web:</strong>
  <%= @zoigl_stube.web %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @zoigl_stube.hours %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zoigl_stube.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @zoigl_stube.phone %>
</p>

<%= link_to 'Edit', edit_zoigl_stube_path(@zoigl_stube) %> |
<%= link_to 'Back', zoigl_stubes_path %>
